<h1>Game Begins</h1>
<h2>Chose your action</h2>
<label for="Action">
  Player's Choice
<form action="/game" method="post">
  <input type='text' value='action'>
</label>
<input type='submit' value='Go!'>
</form>
